@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0e1525;
  --secondary: #319eae;
  --accent: #f5fdfc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0e1525;
    --secondary: #319eae;
    --accent: #f5fdfc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
